*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*~
*fastq
*config

# YARD artifacts
.yardoc
_yardoc
doc/
.Rproj.user

# dry run test data
dryruns
